*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



/* Estilos principales para el reloj */
aside .reloj{
  width: 150px;
  height: 100px;
  background: linear-gradient(to right, #0b1e36, #f128f1);
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
  margin: 15px auto;
  border-radius: 10px;
  border-bottom: 10px solid #190329;
  user-select: none;
  z-index: 1;
}

aside .reloj .dia{
  font-size: 13px;
}

aside .reloj .mes{
  font-size: 13px;
}

aside .reloj .hora{
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

aside .reloj .hora p{
  font-size: 13px;
  background-color: #240b36;
  padding: 10px;
  margin: 0px 5px;
  border: 1px solid #ffffff;
}